{% extends "layout.html" %}

{% block link %}
    <link href="{{ url_for('static', filename='css/rest-password-token.css') }}" rel="stylesheet"/>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
{% endblock %}

{% block content %}
    <div class="container-1">

        <div class="frame-2">
            <div class="nav">
                <ul class="links">
                    <li class="signin-active"><a>Reset Password</a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" action="" method="post" name="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.old_password.label(class="form-styling-label") }}
                        {% if form.old_password.errors %}
                            {{ form.old_password(class="form-styling form-styling-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.old_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.old_password(class="form-styling form-styling-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.new_password.label(class="form-styling-label") }}
                        {% if form.new_password.errors %}
                            {{ form.new_password(class="form-styling form-styling-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.new_password(class="form-styling form-styling-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-styling-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-styling form-styling-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-styling form-styling-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">{{ form.submit(class='btn btn-outline-info') }}</div>
                </form>
            </div>
        </div>
    </div>

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='{{ url_for('static', filename='js/script-login.js') }}'></script>


{% endblock content %}